<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h2>CREATED EVENTS</h2>
<table>
<tr>
    <th>Description</th>
    <th>Show</th>
</tr>
<%@events.each do |event|%>
<tr>
<td><%=event.description%></td>
<td><%= link_to "watch event", "/show_event?id=#{event.id}" %></td>
</tr>
<%end%>
</table>
<%= link_to "Create Event", '/add_event' %>

<div class="div">
<%= button_to "previous", "/" %>
<%= button_to "upcomming", "/?type=upcomming" %>
</div>


<h2>ATTENDANCE TO EVENTS</h2>
<table>
<tr>
    <th>Description</th>
    <th>Show</th>
</tr>
<%@attendees.each do |attendee|%>

<tr>
<% if (params[:type]=="upcomming" && Event.find(attendee.event_id).event_date>Date.today) || (params[:type]!="upcomming" && Event.find(attendee.event_id).event_date<Date.today) %>
<td><%=Event.find(attendee.event_id).description%></td>
<td><%= link_to "watch event", "/show_event?id=#{attendee.event_id}" %></td>
<% end %>
</tr>
<%end%>
</table>